<!-- todo: remove in the future -->

<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{management_panel_layout.html}">
<head>
    <title>Make a New Employee</title>
</head>
<div layout:fragment="content">
    <form action="/management/api/employee" method="post">
        <label for="ID">ID:</label>
        <input type="text" id="ID" name="ID"><br><br>
        <label for="credit">Credit:</label>
        <input type="number" id="credit" name="credit"><br><br>
        <label for="location">Location:</label>
        <select id="location" name="Location">
            <!--/*@thymesVar id="locations" type="java.util.List"*/-->
            <!--/*@thymesVar id="location" type="com.example.bgcpromogear.data.entities.LocationEntity"*/-->
            <option th:each="location : ${locations}" th:value="${location.ID}" th:text="${location.name}"></option>
        </select><br>
        <input type="submit" value="Submit">
    </form>
    <script>

        $('form').submit(
            function (e) {
                e.preventDefault();

                const form = $(this);
                const url = form.attr('action');
                const data = {
                    'ID': $('#ID').val(),
                    'credit': $('#credit').val(),
                    'locationID' : $('#location').children('option:selected').val()
                }

                $.ajax({
                    type: "POST",
                    url: url,
                    contentType: "application/json",
                    data: JSON.stringify(data), // serializes the form's elements.
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader(
                            $('meta[name=_csrf_header]').attr('content'),
                            $('meta[name=_csrf]').attr('content')
                        )
                    },
                    success: function(data)
                    {
                        alert(data); // show response from the php script.
                    },
                    error: function(data) {
                        console.log(data);
                    }
                });
            }
        );
    </script>
</div>
</html>