<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{management_panel_layout.html}">
<head>
    <title>Employees</title>
</head>
<div layout:fragment="content">
    <!--  Heading  -->
    <h2>Users

    </h2>

    <!--  Displaying locations in a table  -->
    <div class="card shadow" style="margin: 20px;">
        <div class="card-header py-3" style="background: rgb(248,248,252);">
            <p class="m-0 fw-bold" style="color: #36366f;">User Info</p>
        </div>
        <div class="card-body">

            <div id="length_search_row" class="row">
                <div id="length_input" class="col-sm-12 col-md-5"></div>
                <div id="search_input" class="col-sm-12 col-md-7"></div>

            </div>

            <div class="d-flex flex-row flex-wrap table-bar">
            </div>
            <div class="table-responsive table mt-2" id="dataTable-1" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Remaining Credit</th>
                        <th>Owed Credit</th>
                        <th>Last Big Item Date</th>
                        <th>Location</th>
                        <th>Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>None</td>
                        <td>None</td>
                        <td>None</td>
                        <td>None</td>
                        <td>None</td>
                        <td>None</td>
                        <td style="padding: 5px;">
                            <a>
                                <button class="btn btn-outline-primary button-edit" type="button" style="font-size: 15px;">
                                    <i class="far fa-edit"></i>
                                </button>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td><strong>ID</strong></td>
                        <td><strong>Name</strong></td>
                        <td><strong>Email</strong></td>
                        <td><strong>Remaining Credit</strong></td>
                        <td><strong>Owed Credit</strong></td>
                        <td><strong>Last Big Item Date</strong></td>
                        <td><strong>Location</strong></td>
                        <td><strong>Edit</strong></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <script>

        var dateRender = function (data) {
            let date = new Date(data);
            let dateFormat = "";

            return new Date(data).toLocaleDateString('en-us', { month:"short", day:"numeric", year:"numeric" });
        }

        var dollarRender = function (data) {
            let credit = data.toFixed(2);
            let result = "$" + credit;
            return result;
        }

        $(document).ready( function () {

            //Using DataTable
            var table = $('#dataTable').DataTable( {

                ajax: {
                    url: '/api/secured/users',
                    cache: true,
                    dataSrc: "users"
                },
                columns: [
                    { data: "id" },
                    { data: "displayName" },
                    { data: "displayName" },
                    { data: "credit", "render" : dollarRender },
                    { data: "owedCredit", "render" : dollarRender },
                    { data: "lastBigItemDate", "render" : dateRender },
                    { data: "location.name", defaultContent: 'None' },
                    { data: "oid" },
                ],

                "lengthMenu": [ [25, 50, -1], [25, 50, "All"] ],
                language : {
                    sLengthMenu: "Show&nbsp _MENU_", // changing label for page length filter
                    search: "_INPUT_",               // changing label for search filter
                    searchPlaceholder: "Search..."   // changing search filter placeholder
                },

                columnDefs : [
                    { targets: [7],
                        render: function (data, type, row) {
                            return '<a href="/management/employee/update?id=' + row.oid +' ">' +
                                '<button class="btn btn-outline-primary button-edit" type="button">' +
                                '<i class="far fa-edit"></i>' +
                                '</button>' +
                                '</a>'
                        }
                    }
                ],

            } );
            $('#dataTable_filter').appendTo('#search_input');
            $('#dataTable_length').appendTo('#length_input');
            $('#dataTable_wrapper').find('div:first').remove(); //remove empty row holding previous filters

        } );


    </script>
</div>
</html>
