<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{front_layout.html}">
<head>
    <title>FAQ</title>
</head>

<div layout:fragment="content">
    <nav th:replace="fragments/store/header :: header"></nav>
    <div class="front-content">
        <div class="container" style="padding: 0px 0px;margin-top: 20px;margin-bottom: 20px;">
            <div class="card shadow-sm" style="margin: 18px;">
                <div class="card-header py-2" style="background: rgb(248,248,252);">
                    <h2 class="text-center" style="font-family: Poppins, sans-serif;margin-top: 12px;margin-bottom: 7px;">FAQ</h2>
                </div>
                <div class="card-body" style="padding: 18px 40px 30px;">
                    <div class="paragraph"></div>
                    <div class="accordion" role="tablist" id="accordion-1">
                        <div class="accordion-item">
                            <h2 class="accordion-header FAQ-header" role="tab"><button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-1" aria-expanded="true" aria-controls="accordion-1 .item-1" style="background: rgb(248,248,252);color: rgb(0,0,0);">Q.&nbsp;&nbsp;I just requested a duffel bag. Now what?</button></h2>
                            <div class="accordion-collapse collapse show item-1" role="tabpanel" data-bs-parent="#accordion-1">
                                <div class="accordion-body">
                                    <p class="mb-0">A.&nbsp;&nbsp;&nbsp;&nbsp;If we have it available then a member of the Admin Team will be working on getting it to you. Our stock is reflective of&nbsp;all our offices,&nbsp;so this may take up to a couple of weeks to coordinate; don't expect for it to happen the next day.&nbsp;&nbsp;<br></p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header FAQ-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-2" aria-expanded="false" aria-controls="accordion-1 .item-2" style="background: rgb(248,248,252);color: rgb(0,0,0);">Q.&nbsp;&nbsp;How do I know if I’ve gotten too carried away and am about to get a tax bill?<br></button></h2>
                            <div class="accordion-collapse collapse item-2" role="tabpanel" data-bs-parent="#accordion-1">
                                <div class="accordion-body">
                                    <p class="mb-0">A.&nbsp;&nbsp;&nbsp;&nbsp;A pop-up box will tell you if you’ve exceeded your threshold. <br></p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header FAQ-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-3" aria-expanded="false" aria-controls="accordion-1 .item-3" style="background: rgb(248,248,252);color: rgb(0,0,0);">Q.&nbsp;&nbsp;The item I want is unavailable or showing "Out of Stock". How can I request this item?</button></h2>
                            <div class="accordion-collapse collapse item-3" role="tabpanel" data-bs-parent="#accordion-1">
                                <div class="accordion-body">
                                    <p class="mb-0">A.&nbsp;&nbsp;&nbsp;&nbsp;Contact your local admin and they will check or put your request onto a list. Whether or when the item becomes available, they will follow-up with you. This does not guarantee that BGC will be getting the item back in stock in the future.<br></p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header FAQ-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-4" aria-expanded="false" aria-controls="accordion-1 .item-4" style="background: rgb(248,248,252);color: rgb(0,0,0);">Q.&nbsp;&nbsp;I've been waiting to request a rain/down jacket for a while now but there are never any available. How do I know when they'll arrive?</button></h2>
                            <div class="accordion-collapse collapse item-4" role="tabpanel" data-bs-parent="#accordion-1">
                                <div class="accordion-body">
                                    <p class="mb-0">A.&nbsp; &nbsp; Most promotional gear items are ordered 2-3 times per year with more seasonal items like tropical shirts ordered each North American spring and down/rain jackets ordered each North American fall when our suppliers have stock available.&nbsp;We do our best to source promotional gear items for BGC’ers but keep in mind that we are not an online store.<br></p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header FAQ-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-5" aria-expanded="false" aria-controls="accordion-1 .item-5" style="background: rgb(248,248,252);color: rgb(0,0,0);">Q.&nbsp;&nbsp;I've got a great idea for a promotional gear item that we don't have at BGC. Can we add this to our offered promotional items?</button></h2>
                            <div class="accordion-collapse collapse item-5" role="tabpanel" data-bs-parent="#accordion-1">
                                <div class="accordion-body">
                                    <p class="mb-0">A.&nbsp;&nbsp;&nbsp;&nbsp;Maybe; quality and consistency is important in branding. Talk to the promo gear team (promogear@bgcengineering.ca).<br></p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header FAQ-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-6" aria-expanded="false" aria-controls="accordion-1 .item-6" style="background: rgb(248,248,252);color: rgb(0,0,0);">Q.&nbsp;&nbsp;My drillers have been working super hard out in the field to make BGC look good. Can I give them some promotional gear?</button></h2>
                            <div class="accordion-collapse collapse item-6" role="tabpanel" data-bs-parent="#accordion-1">
                                <div class="accordion-body">
                                    <p class="mb-0">A.&nbsp;&nbsp;&nbsp;&nbsp;Yes! We'd love to say thanks to all those busting their butts for us in the field. Talk to the promo gear team about hats, toques, or hoodies that we could provide through the client/event request page. Make sure you know whether their company has any strict rules regarding gifts and perceived/actual conflicts of interest. <br></p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header FAQ-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-7" aria-expanded="false" aria-controls="accordion-1 .item-7" style="background: rgb(248,248,252);color: rgb(0,0,0);">Q.&nbsp;&nbsp;If I request a jacket for my client, will this count towards my taxable benefit amount?</button></h2>
                            <div class="accordion-collapse collapse item-7" role="tabpanel" data-bs-parent="#accordion-1">
                                <div class="accordion-body">
                                    <p class="mb-0">A.&nbsp;&nbsp;&nbsp;&nbsp;No; make sure to request it from the client/event page. <br></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/store/footer :: footer"></div>
</div>
</html>