<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{front_layout.html}">
<head>
    <title>Product Care</title>
</head>

<div layout:fragment="content">
    <nav th:replace="fragments/store/header :: header"></nav>
    <div class="front-content">
        <div class="container" style="padding: 0px 0px;margin-top: 20px;margin-bottom: 20px;">
            <div class="card shadow-sm" style="margin: 18px;">
                <div class="card-header py-2" style="background: rgb(248,248,252);">
                    <h2 class="text-center" style="font-family: Poppins, sans-serif;margin-top: 12px;margin-bottom: 7px;">Product Care</h2>
                </div>
                <div class="card-body" style="padding: 18px 40px 30px;">
                    <div>
                        <ul class="nav nav-tabs" role="tablist" style="font-family: Poppins, sans-serif;">
                            <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-bs-toggle="tab" href="#tab-1">Arc'teryx GORE-TEX Garment</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-2">Cleaning Agents</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-3">GORE-TEX Garment</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-4">Down Garment</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" role="tabpanel" id="tab-1">
                                <h5 class="inner_header">Why you should clean your Arc'teryx GORE-TEX garment<br></h5>
                                <div class="paragraph">
                                    <p style="margin-bottom: 0px;">Routine care and maintenance are critical for the optimum performance of your Arc'teryx GORE-TEX garment. <br><br>Dirt buildup and body oils from sweat can compromise the membrane and overall effectiveness of the textile’s Durable Water Repellent (DWR) treatment. DWR encourages water to roll off the surface –this is called ‘beading’. Regularly washing and re-applying DWR will restore the performance and extend the lifespan of your GORE-TEX garment.<br></p>
                                </div>
                                <h5 class="inner_header">When to wash your Arc'teryx GORE-TEX garment<br></h5>
                                <div class="paragraph">
                                    <p style="margin-bottom: 5px;">It depends on how often and how hard you use your gear. As a rule of thumb:<br></p>
                                    <ul class="indent" style="margin-bottom: 5px;">
                                        <li>Heavy use (e.g. running, ski-touring) – wash every 10 to 12 days of use<br></li>
                                        <li>Light use (e.g. dog walking, urban use) – wash every 20 to 30 days of use<br></li>
                                    </ul>
                                    <p style="margin-bottom: 0px;">Use your best judgment. If your garment looks dirty or is no longer beading water, it’s time to give it a wash.<br></p>
                                </div>
                                <h5 class="inner_header">How to wash your Arc'teryx GORE-TEX garment<br></h5>
                                <div class="paragraph">
                                    <p class="mini-header">STEP ONE | PREPARE FOR WASHING<br></p>
                                    <ul class="indent" style="margin-bottom: 5px;">
                                        <li>Close the main and pit zippers.<br></li>
                                        <li>Open pocket zippers.<br></li>
                                        <li>Release tension on all elastic drawcords.<br></li>
                                        <li>Loosen and secure the cuff Velcro®.<br></li>
                                    </ul>
                                    <p class="mini-header">STEP TWO | WASH<br></p>
                                    <ul class="indent" style="margin-bottom: 5px;">
                                        <li>Put your garment in the machine and add cleaning agent.<br></li>
                                        <li>Wash on medium heat (40°C/104°F) at regular cycle setting.<br>It is advised to use a second rinse cycle to remove any residual soap which will compromise DWR and garment performance.<br></li>
                                    </ul>
                                    <p class="mini-header">STEP THREE | RE-APPLY DWR (IF NECESSARY)<br></p>
                                    <p class="indent" style="margin-bottom: 5px;">If your garment is no longer beading water, it is time to re-apply DWR.<br>A spray-on DWR treatment will offer superior performance and the ability to target high-wear areas. We recommend:<br></p>
                                    <ul class="indent" style="margin-bottom: 5px;">
                                        <li>Arc’teryx Nu Care Products<br></li>
                                        <li>ReviveX® Durable Water Repellent<br></li>
                                        <li>Fibertec Blue Guard Spray-On<br></li>
                                        <li>Grangers® Performance Repel <br></li>
                                    </ul>
                                    <p class="indent" style="margin-bottom: 5px;">Remove your garment from the machine and shake off any excess water.<br></p>
                                    <ul class="indent" style="margin-bottom: 5px;">
                                        <li>Close all zippers<br></li>
                                        <li>Hang the garment and spray DWR on the face fabric –concentrating on high-wear area<br></li>
                                        <li>Turn the garment inside out for maximum uptake by the face fabric before placing in dryer.<br></li>
                                    </ul>
                                    <p class="mini-header">STEP FOUR | DRY<br></p>
                                    <ul class="indent" style="margin-bottom: 5px;">
                                        <li>Place your damp garment in the dryer on medium heat for 40 to 50 minutes (or until dry to the touch) to effectively activate DWR.<br></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="tab-2">
                                <h5 class="inner_header">Which cleaning agent to use?<br></h5>
                                <p style="margin-bottom: 5px;">When possible, use a cleaning agent made specifically for technical fabrics. Outdoor specialty retailers carry various brands. We recommend:<br></p>
                                <ul class="indent" style="margin-bottom: 5px;">
                                    <li>Arc’teryx Nu Care Products<br></li>
                                    <li>ReviveX® Pro Cleaner™<br></li>
                                    <li>Nu Down Detergent<br></li>
                                    <li>NU TECHNICAL DETERGENT <br></li>
                                    <li>Grangers® Performance Wash <br></li>
                                    <li>Fibertec Pro Wash <br></li>
                                </ul>
                                <p style="margin-bottom: 5px;">You may also use a liquid free-rinsing soap or gentle detergent. Avoid detergents that contain fabric softeners, fragrance, whiteners or colorants.<br><br>We recommend running an extra rinse cycle on your washing machine to ensure any potential residue is fully removed from your garment.<br></p>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="tab-3">
                                <div class="paragraph"></div>
                                <h5 class="inner_header">How to prepare your GORE-TEX garment for washing<br></h5>
                                <div class="paragraph">
                                    <p style="margin-bottom: 5px;">To prepare the garment for washing:<br></p>
                                    <ul class="indent" style="margin-bottom: 5px;">
                                        <li>Close the main zippers and pit zips<br></li>
                                        <li>Open pocket zippers<br></li>
                                        <li>Release tension on all elastic draw cords.<br></li>
                                        <li>Add cleaning agent to the machine and wash the garment on a medium heat setting (40°C / 104°F).<br></li>
                                    </ul>
                                    <p style="margin-bottom: 0px;">Remove the garment, shake to remove excess water and place it in the dryer. DWR is reactivated best when tumble dried at a medium heat setting (40°C / 104°F) for 40 to 50 minutes.<br></p>
                                </div>
                                <h5 class="inner_header">How to reapply the Durable Water Repellent (DWR)<br></h5>
                                <div class="paragraph">
                                    <p style="margin-bottom: 5px;">DWR is a polymer coating that increases surface tension and helps water to bead and roll off. Applying DWR to your garment’s face fabric increases its hydrophobic properties and of repelling water.<br><br>If your garment is no longer beading water even after it has been washed and dried, it’s time to re-apply the DWR. A spray-on treatment offers the ability to target high-wear areas on your garment, encouraging its optimal performance.<br></p>
                                    <ul class="indent" style="margin-bottom: 5px;">
                                        <li>Arc’teryx Nu Care Products<br></li>
                                        <li>ReviveX® Durable Water Repellent<br></li>
                                        <li>Fibertec Textile guard Pro X<br></li>
                                        <li>Grangers® Performance Repel <br></li>
                                    </ul>
                                    <p style="margin-bottom: 5px;">Once washed, remove your garment from the machine and shake off excess water. Close all zippers. Hang the damp garment and spray DWR evenly on the wet face fabric of the garment, concentrating on high-wear areas.<br><br>Next, place the garment in a tumble drier on a medium heat setting (40°C / 104°F) for 40 to 50 minutes. We do not recommend using a wash-in DWR. Before drying, turn the garment inside out for maximum uptake by the face fabric.<br></p>
                                    <ul class="indent" style="margin-bottom: 5px;"></ul>
                                    <ul class="indent" style="margin-bottom: 5px;"></ul>
                                </div>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="tab-4">
                                <h5 class="inner_header">How to wash and care for your Down garment<br></h5>
                                <div class="paragraph">
                                    <p style="margin-bottom: 5px;">Down relies on air between its clusters to retain warmth. When the face fabric of your garment becomes dirty, body oils and dirt attract water which can then transfer into<br>the down, causing it to clump. Without the pockets of air between the down clusters, the garment loses its insulation properties.<br><br>Down is best washed only as necessary. To maintain performance, wash your garment when it shows signs of dirt or sweat, or the down is starting to lose loft or clump.<br><br>When possible, it is best to use a cleaning agent made specifically for technical down products. We recommend:<br></p>
                                    <ul class="indent" style="margin-bottom: 5px;">
                                        <li>Arc’teryx Nu Care Products<br></li>
                                        <li>ReviveX® Down Cleaner<br></li>
                                        <li>Grangers® Down Wash<br></li>
                                        <li>Fibertec Down Wash<br></li>
                                        <li>Nikwax Down Wash Direct<br></li>
                                    </ul>
                                    <p class="mini-header">STEP ONE | PREPARE FOR WASHING<br></p>
                                    <p class="indent" style="margin-bottom: 5px;">Close the main and pit zippers. Open pocket zippers. Release tension on all elastic drawcords. Loosen and secure the cuff Velcro®.<br>Front load washing machines are recommended; however, if you have a washing machine with an agitator (top loader), putting your garment inside a mesh bag will help protect it.<br></p>
                                    <p class="mini-header">STEP TWO | WASH<br></p>
                                    <p class="indent" style="margin-bottom: 5px;">Put your garment in the machine, add cleaning agent and wash on medium heat (40°C/104°F) at permanent press or gentle cycle settings.<br>Double rinsing is recommended.<br></p>
                                    <p class="mini-header">STEP THREE | RE-APPLY DWR (IF NECESSARY)<br></p>
                                    <p class="indent" style="margin-bottom: 5px;">If the face fabric of your garment no longer beads water, even after it has been washed and dried, it is time to re-apply DWR.<br>Remove your garment from the machine and shake off excess water. Close all zippers. Hang it and spray DWR on the face fabric, concentrating on high-wear areas.<br></p>
                                    <p class="mini-header">STEP FOUR | DRY<br></p>
                                    <p class="indent" style="margin-bottom: 5px;">Turn your garment inside out, lay it on a flat surface and remove excess moisture by gently pressing on it with a clean towel.<br>Place your garment in the dryer on low heat (permanent press cycle) with two “dryer balls” or clean tennis balls to prevent the down from clumping and to help it regain its loft. It will be necessary to periodically turn your garment inside out throughout the cycle to help it dry properly.<br><br>Down must be completely dried before storing to avoid clumping or mold. Be prepared for the process to take upwards of three hours.<br></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/store/footer :: footer"></div>
</div>
</html>