<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{front_layout.html}">
<head>
    <title>Warranty</title>
</head>

<div layout:fragment="content">
    <div class="front-content">
        <div class="container" style="padding: 0px 0px;margin-top: 20px;margin-bottom: 20px;">
            <div class="card shadow-sm" style="margin: 18px;">
                <div class="card-header py-2" style="background: rgb(248,248,252);">
                    <h2 class="text-center" style="font-family: Poppins, sans-serif;margin-top: 12px;margin-bottom: 7px;">Warranties</h2>
                </div>
                <div class="card-body" style="padding: 18px 40px 30px;">
                    <h4 class="inner_header">Warranty Info</h4>
                    <div class="paragraph">
                        <p style="margin-bottom: 0px;">Many of our products have&nbsp;<strong>robust warranty</strong>&nbsp;programs in place as well as BGC having excellent relationships with our distributors. If anything breaks or doesn’t function as it should, please contact the promo gear team using the box below and return your item to the Admin Team. We’d be happy to replace it for you. This is particularly important for the logos on your equipment – if you notice a BGC logo coming off, please and return this to the admin team as soon as you’re able to.<br></p>
                    </div>
                    <h4 class="inner_header">Submit a Warranty Claim</h4>
                    <div class="paragraph">
                        <p>If you would like to submit a warranty claim, please use the input box below to get in contact with a member on our admin team. Please include your: name, email, product to claim a warranty on, and any info regarding the damage to your product.<br></p>
                    </div>
                    <div>
                        <div class="d-flex flex-column input-div"><span>Full Name:&nbsp;&nbsp;</span>
                            <div class="d-flex"><input type="text" id="name" style="flex: 0 1 250px;"></div>
                        </div>
                        <div class="d-flex flex-column input-div"><span>Contact Email:</span>
                            <div class="d-flex"><input type="text" id="email" style="flex: 0 1 325px;"></div>
                        </div>
                        <div class="d-flex flex-column input-div"><span>Select Order #:</span>
                            <div class="d-flex"><select id="order_id" style="flex: 0 1 325px;height: 30px;">
                                <optgroup label="My Orders">
                                    <option value="12" selected="">This is item 1</option>
                                    <option value="13">This is item 2</option>
                                    <option value="14">This is item 3</option>
                                </optgroup>
                            </select></div>
                        </div>
                        <div class="d-flex flex-column input-div"><span>Select Product:</span>
                            <div class="d-flex"><select id="sku" style="flex: 0 1 325px;height: 30px;">
                                <optgroup label="Order Products">
                                    <option value="12" selected="">This is item 1</option>
                                    <option value="13">This is item 2</option>
                                    <option value="14">This is item 3</option>
                                </optgroup>
                            </select></div>
                        </div>
                        <div class="d-flex flex-column input-div"><span>Comments (regarding product damage or additional info):</span>
                            <div class="d-flex"><textarea style="flex: 0 1 800px;height: 100px;"></textarea></div>
                        </div>
                        <div class="div-button"><button class="btn btn-outline-primary" type="button">Submit your Warranty Claim</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>