<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{front_layout.html}">
<head>
    <title>Cart</title>
    <style>
        .cartRow_container{
            display: flex;
            flex-wrap: wrap;
            height: fit-content;
            padding: 20px;
            border-bottom: 1px solid black;
            justify-content: space-between;
        }

        .outOfStock-true{
            background-color: rgba(255, 0, 0, 0.2);
        }

        .product_container{
            display: flex;
            flex-wrap: wrap;
            width: 40%;
            justify-content: space-between;
            align-items: flex-start;
        }

        .product_image_container{
            flex-grow: 0;
        }

        .product_detail_container{
            padding-left: 5%;
        }

        .product_image{
            padding-left: 10%;
            width: 100px;
            height: 100px;
            overflow:hidden;
        }

        .quantity_Container{
            text-align: right;
            margin: auto;
        }

    </style>
</head>

<div layout:fragment="content">
    <div class="card-store-container" style="padding: 0px 0px;margin-top: 20px;margin-bottom: 20px;">
        <div class="card shadow-sm" style="margin: 18px;">
            <div class="card-body" style="padding: 18px 40px 0px;">
                <div class="container" style="min-height: 70vh;">
                    <div class="row fs-1 py-4 border-bottom border-dark">
                        Submit Order Form
                    </div>
                    <div style="right: 50px;" class="row fs-3 py-4 border-bottom border-dark">
                        My Cart
                    </div>
                    <!--FOR EACH ITEM IN CART-->
                    <div id="cart-row-container">
                        Currently Nothing In Cart
                    </div>
                    <!--END OF FOR EACH ITEM IN CART-->
                    <br>
                    <br>
                    <div class="row">
                        <div class="col text-center">
                            Make sure you read our guidelines before proceeding with your first order. They can be found <a th:href="'/guidelines'">here.</a>
                        </div>
                    </div>
                    <br>
                    <br>
                    <label for="selectLocation">Select a Destination Location:</label>
                    <select style="" class="form-select" id="selectLocation" name="selectLocation">
                        <option selected>Vancouver</option>
                        <option>Calgary</option>
                        <option>Edmonton</option>
                        <option>Toronto</option>
                        <option>Location 1</option>
                        <option>Location 2</option>
                    </select>
                    <br>
                    <br>
                    <div class="row">
                        <label for="comments">If you have any additional comments, please leave them here:</label>
                        <textarea class="form-control" id="comments" name="comments" rows="3" placeholder="Additional Comments For Order"></textarea>
                    </div>
                    <br>
                    <br>
                    <!--      <p>Do You Agree: <input type="checkbox"></p>-->
                    <p>Is this for a Client or Event? If so, <button class="btn btn-primary btn-sm" onclick="show_client_event_form()">click here</button></p>
                    <div id="client_event_form" style="display: none;">
                        <label for="dateRequiredBy">Date Needed By:</label>
                        <input id="dateRequiredBy" class="form-control" type="date" onkeydown="return false;"><br>
                        <label for="projectNumOrName">Client Name/Project Number:</label>
                        <input id="projectNumOrName" class="form-control" type="text" placeholder="Client Name/Project Number" style="width: 255px;">
                    </div>
                    <!--   Spacing for "Continue to Checkout" Button   -->
                    <div class="row py-2">
                        <div class="col-sm-0 col-md-9">
                        </div>
                        <div id="submitButtons" class="col-sm-12 col-md-3 d-flex justify-content-center">
                            <a class="btn btn-primary" id="submitForYourselfButton" data-bs-toggle="modal" href="#bigItemModal" role="button">Submit For Yourself</a>
                            <!--              <button class="btn btn-primary" id="submitForYourselfButton" onclick="submit_for_yourself()">Submit for yourself</button>-->
                            <button class="btn btn-primary" id="submitForClientButton" style="display: none;" onclick="submit_for_client()">Submit for Client</button>
                            &nbsp;
                            <button class="btn btn-primary" id="submitForEventButton" style="display: none;" onclick="submit_for_event()">Submit for Event</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="bigItemModal" aria-hidden="true" aria-labelledby="bigItemModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="bigItemModalToggleLabel">Big Item</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    You are ordering a big item. Have you received a big item in the last 12 months?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-target="#failedModal" data-bs-toggle="modal" data-bs-dismiss="modal">Yes</button>
                    <button class="btn btn-primary" data-bs-target="#taxableBenefitModal" data-bs-toggle="modal" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="taxableBenefitModal" aria-hidden="true" aria-labelledby="taxableBenefitModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="taxableBenefitModalToggleLabel">Taxable Benefit</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    You are currently over the taxable benefit threshold and $150 will be a taxable benefit. Would you like to continue?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-target="#bigItemModal" data-bs-toggle="modal" data-bs-dismiss="modal">Back</button>
                    <button class="btn btn-primary" data-bs-target="#whoIsThisForModal" data-bs-toggle="modal" data-bs-dismiss="modal">Yes</button>
                    <button class="btn btn-primary" data-bs-target="#failedModal" data-bs-toggle="modal" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="whoIsThisForModal" aria-hidden="true" aria-labelledby="whoIsThisForModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="whoIsThisForModalToggleLabel">Who is this for?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are items in this order intended for your use or another person?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-target="#taxableBenefitModal" data-bs-toggle="modal" data-bs-dismiss="modal">Back</button>
                    <button class="btn btn-primary" data-bs-target="#submitModal" data-bs-toggle="modal" data-bs-dismiss="modal">For Me</button>
                    <button class="btn btn-primary" data-bs-target="#failedModal" data-bs-toggle="modal" data-bs-dismiss="modal">For Someone Else</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="failedModal" aria-hidden="true" aria-labelledby="failedModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="failedModalToggleLabel">Order Declined</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    (insert message here)<br><br>
                    Ex. Please speak to a member of our promo gear team if you would like to make/discuss this order. Email example@bgc.ca
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="submitModal" aria-hidden="true" aria-labelledby="submitModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="submitModalToggleLabel">Confirm Order</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    You pass all the criteria, would you like to submit this order?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <input class="btn btn-success" type="submit" value="Submit">
                </div>
            </div>
        </div>
    </div>

    <script>
        var cart_items;
        window.onload=function()
        {
            $.ajax({
                type: "GET",
                url: '/api/cart',
                beforeSend: function(xhr) {
                    xhr.setRequestHeader(
                        $('meta[name=_csrf_header]').attr('content'),
                        $('meta[name=_csrf]').attr('content')
                    )
                },
                success: function(data)
                {
                    console.log(data);
                    cart_items = data;
                    fill_html_with_cart_items();
                }
            });
        }

        $(document).ready( function() {
            //Sets default and minimum date to current local time.
            let current_date = new Date();
            current_date.setDate(current_date.getDate() + 1); //account for difference between local time and UTC time. aka, just be safe and set one more day
            let current_year = current_date.getFullYear();
            let current_month = current_date.getMonth() + 1;
            if(current_month < 10){
                current_month = "0" + current_month;
            }
            let current_day = current_date.getDate();
            let date_format = current_year + "-" + current_month + "-" + current_day;
            $('#dateRequiredBy').attr('min', date_format);
            $('#dateRequiredBy').attr('value', date_format);
        });

        function show_client_event_form(){
            $('#client_event_form').toggle();
            $('#submitForYourselfButton').toggle();
            $('#submitForClientButton').toggle();
            $('#submitForEventButton').toggle();
        }

        function setMinDate(){
            let today = new Date();
            let minDate = today.toISOString().substring(0,10);
            $('#dateRequiredBy').prop('min', minDate);
        }

        //Sets minimum date to today for date inputs
        window.addEventListener("load", function(){
            setMinDate();
        });

        function fill_html_with_cart_items()
        {
            let row_container = $('#cart-row-container');
            var num_rows = 0;
            for(let i = 0; i < cart_items.cartItems.length; i++){
                let cartItem = cart_items.cartItems[i];
                if(num_rows === 0){
                    row_container.html("<div>\n" +
                        "  <div class=\"cartRow_container\"> <!--where th:each goes-->\n" +
                        "    <div class=\"product_container\">\n" +
                        "      <div class=\"col product_image_container\">\n" +
                        "        <img  class=\"product_image\" src=\"\" alt=\"Photo Displaying Product\"> <!--Product Photo, probably href this to lead to product page again-->\n" +
                        "      </div>\n" +
                        "      <div class=\"col product_detail_container\">\n" +
                        "        <h5>"+cartItem.productName+"</h5>\n" +
                        "<!--        <div>-->\n" +
                        "<!--          <span th:text=\"${cartItem.genderName}\" th:if=\"${cartItem.genderName != null}\"></span>-->\n" +
                        "<!--          <span th:text=\"' | '\" th:if=\"(${cartItem.genderName != null} and ${cartItem.styleName != null})-->\n" +
                        "<!--                                                  or (${cartItem.genderName != null} and ${cartItem.sizeName != null})\"></span>-->\n" +
                        "<!--          <span th:text=\"${cartItem.styleName}\" th:if=\"${cartItem.styleName != null}\"></span>-->\n" +
                        "<!--          <span th:text=\"' | '\" th:if=\"(${cartItem.styleName != null} and ${cartItem.sizeName != null})\"></span>-->\n" +
                        "<!--          <span th:text=\"${cartItem.sizeName}\" th:if=\"${cartItem.sizeName != null}\"></span>-->\n" +
                        "<!--        </div>-->\n" +
                        "        <div>\n" +
                        "          <span>SKU: "+cartItem.sku+"</span>\n" +
                        "        </div>\n" +
                        "      </div>\n" +
                        "    </div>\n" +
                        "\n" +
                        "    <div class=\"col quantity_Container\">\n" +
                        "<!--      &lt;!&ndash; Quantity Ordered&ndash;&gt;-->\n" +
                        "<!--      <span th:case=\"true\" th:text=\"'Qty: Out Of Stock'\"></span>-->\n" +
                        "    <span>Qty: "+cartItem.quantity+"</span>\n" +
                        "    </div>\n" +
                        "  </div>\n" +
                        "</div>");
                }
                else{
                    row_container.append("<div>\n" +
                        "  <div class=\"cartRow_container\"> <!--where th:each goes-->\n" +
                        "    <div class=\"product_container\">\n" +
                        "      <div class=\"col product_image_container\">\n" +
                        "        <img  class=\"product_image\" src=\"\" alt=\"Photo Displaying Product\"> <!--Product Photo, probably href this to lead to product page again-->\n" +
                        "      </div>\n" +
                        "      <div class=\"col product_detail_container\">\n" +
                        "        <h5>"+cartItem.productName+"</h5>\n" +
                        "<!--        <div>-->\n" +
                        "<!--          <span th:text=\"${cartItem.genderName}\" th:if=\"${cartItem.genderName != null}\"></span>-->\n" +
                        "<!--          <span th:text=\"' | '\" th:if=\"(${cartItem.genderName != null} and ${cartItem.styleName != null})-->\n" +
                        "<!--                                                  or (${cartItem.genderName != null} and ${cartItem.sizeName != null})\"></span>-->\n" +
                        "<!--          <span th:text=\"${cartItem.styleName}\" th:if=\"${cartItem.styleName != null}\"></span>-->\n" +
                        "<!--          <span th:text=\"' | '\" th:if=\"(${cartItem.styleName != null} and ${cartItem.sizeName != null})\"></span>-->\n" +
                        "<!--          <span th:text=\"${cartItem.sizeName}\" th:if=\"${cartItem.sizeName != null}\"></span>-->\n" +
                        "<!--        </div>-->\n" +
                        "        <div>\n" +
                        "          <span>SKU: "+cartItem.sku+"</span>\n" +
                        "        </div>\n" +
                        "      </div>\n" +
                        "    </div>\n" +
                        "\n" +
                        "    <div class=\"col quantity_Container\">\n" +
                        "<!--      &lt;!&ndash; Quantity Ordered&ndash;&gt;-->\n" +
                        "<!--      <span th:case=\"true\" th:text=\"'Qty: Out Of Stock'\"></span>-->\n" +
                        "    <span>Qty: "+cartItem.quantity+"</span>\n" +
                        "    </div>\n" +
                        "  </div>\n" +
                        "</div>");
                }
                num_rows++;
            }
        }

    </script>
</div>
</html>