<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{management_panel_layout.html}">
<head>
  <title>Create Attribute</title>
</head>
<div layout:fragment="content">
  <!-- Heading -->
  <h2>Create New Attribute</h2>

  <!-- Return to viewing locations button -->
  <button class="btn btn-outline-primary" onclick="location.href='/management/attribute_group/'">
    Return to Attributes
  </button>

  <!-- Form for user to enter input fields -->
  <div class="container mt-5">
    <form id="create-attribute-group-form" action="/management/api/attribute_group" method="post" class="row g-3">
      <div class="col-md-6">
        <label for="name" class="form-label">Name:</label>
        <input type="text" id="name" name="name" class="form-control" required>
        <div class="form-text">e.g, Size, Gender, Style, Pattern</div>
      </div>
      <div class="col-md-12">
        <input class="btn btn-outline-primary" id="create-attribute-group-submit" type="button" value="Submit" data-bs-toggle="modal" data-bs-target="#confirm-create-attribute-group-modal">
      </div>

      <!--   Modal #1: Displays entered information and prompts user if they are sure they want to submit   -->
      <div class="modal fade" id="confirm-create-attribute-group-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Confirm Submit</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you sure you want to submit the following details?
              <table class="table">
                <tr>
                  <th>Name</th>
                  <td id="display-new-name"></td>
                </tr>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-default" data-bs-dismiss="modal">Cancel</button>
              <input class="btn btn-outline-primary" type="submit" value="Submit">
            </div>
          </div>
        </div>
      </div>
    </form>

    <!--   Modal #2: Displays success popup if form submission is successful   -->
    <div class="modal fade" id="create-attribute-group-success-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Complete</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-center">
            <span style="font-size: 35px;font-weight: bold;">Successfully Created</span><br>
            <i class="fa fa-check-circle-o rubberBand animated" style="font-size: 100px;color: rgb(122, 214, 94);height: 41px;"></i>
          </div>
          <div class="modal-footer">
            <a class="btn btn-outline-primary" href="/management/attribute_group">Return to Attributes</a>
          </div>
        </div>
      </div>
    </div>

    <!--   Modal #3: Displays error popup if form submission is unsuccessful   -->
    <div class="modal fade" id="create-attribute-group-fail-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Failed to Create</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-center">
            <span style="font-size: 35px;font-weight: bold;">Creation Failed</span><br>
            <i class="fa fa-close rubberBand animated" style="font-size: 100px;color: rgb(242, 15, 0);height: 41px;"></i><br>
            <p class="text-start" id="create-attribute-group-fail-message"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-default" data-bs-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <script th:src="@{/javascript/management/product/attribute_group_create.js}"></script>
  </div>
</div>
</html>