<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{management_panel_layout.html}">
<head>
    <title>Create Category</title>
</head>
<div layout:fragment="content">
    <!-- Heading -->
    <h2>Create New Category</h2>

    <!-- Return to viewing locations button -->
    <button class="btn btn-outline-primary" onclick="location.href='/management/product_group/'">
        Return to Products
    </button>

    <!-- Form for user to enter input fields -->
    <div class="container mt-5">
        <form id="createForm" action="/management/api/category" method="post" class="row g-3">
            <div class="col-md-6">
                <label for="name" class="form-label">Name:</label>
                <input type="text" id="name" name="name" class="form-control" required>
            </div>
            <div class="col-md-6">
                <label for="currentCategories" class="form-label">Parent Category:</label>
                <select name="currentCategories" id="currentCategories" class="form-select" required>
                    <option value=null selected>None</option>
                </select>
            </div>
            <div class="col-md-12">
                <input class="btn btn-outline-primary" id="submitBtn" type="button" value="Submit" data-bs-toggle="modal" data-bs-target="#confirm-submit">
            </div>

            <!--   Modal #1: Displays entered information and prompts user if they are sure they want to submit   -->
            <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Confirm Submit</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to submit the following details?
                            <table class="table">
                                <tr>
                                    <th>Name</th>
                                    <td id="displayNewName"></td>
                                </tr>
                                <tr>
                                    <th>Parent Category:</th>
                                    <td id="displayNewParentCategory"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-default" data-bs-dismiss="modal">Cancel</button>
                            <input class="btn btn-outline-primary" type="submit" value="Submit">
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!--   Modal #2: Displays success popup if form submission is successful   -->
        <div class="modal fade" id="successfully-created" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Complete</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <span style="font-size: 35px;font-weight: bold;">Successfully Created</span><br>
                        <i class="fa fa-check-circle-o rubberBand animated" style="font-size: 100px;color: rgb(122, 214, 94);height: 41px;"></i>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-outline-primary" href="/management/product_group">Return to Products</a>
                    </div>
                </div>
            </div>
        </div>

        <!--   Modal #3: Displays error popup if form submission is unsuccessful   -->
        <div class="modal fade" id="unsuccessfully-created" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Failed to Create</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <span style="font-size: 35px;font-weight: bold;">Creation Failed</span><br>
                        <i class="fa fa-close rubberBand animated" style="font-size: 100px;color: rgb(242, 15, 0);height: 41px;"></i><br>
                        <p class="text-start" id="createErrorMessage"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-default" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <!--   Modal: Displays error popup if getting current category data is unsuccessful   -->
        <div class="modal fade" id="get-category-fail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Failed to Get Categories</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <span style="font-size: 35px;font-weight: bold;">Data Retrieval Failed</span><br>
                        <i class="fa fa-close rubberBand animated" style="font-size: 100px;color: rgb(242, 15, 0);height: 41px;"></i><br>
                        <p class="text-start" id="getCurrentCategoryErrorMessage"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-default" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(document).on("change","select",function(){
                $("option[value=" + this.value + "]", this)
                    .attr("selected", true).siblings()
                    .removeAttr("selected")
            });
            //Upon page load, if:
            // (1) - There are no categories, dont let them submit at all
            // (2) - Load all the existing categories into the <select> and set the default to the current value
            $(document).ready(function(){
                $.ajax({
                    type: "GET",
                    url: '/management/api/category/',
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader(
                            $('meta[name=_csrf_header]').attr('content'),
                            $('meta[name=_csrf]').attr('content')
                        )
                    },
                    success: function(data)
                    {
                        $.each(data, function (i, category) {
                            $('#currentCategories').append($('<option>', {
                                value: category['ID'],
                                text : category['name']
                            }));
                        });
                    },
                    error: function(xhr) {
                        $('#getCurrentCategoryErrorMessage').text("Error Message:\'"+ xhr.responseJSON.message +"\'")
                        $('#get-category-fail').modal('show');
                    }
                });
            });

            function displayNewDetails(){
                $('#displayNewName').text($('#name').val());
                $('#displayNewParentCategory').text($('#currentCategories option:selected').text());
            }

            $('#submitBtn').click(displayNewDetails);

            $('#createForm').submit(
                function (e) {
                    e.preventDefault();

                    const form = $(this);
                    const url = form.attr('action');
                    const data = {
                        'name': $('#name').val(),
                        'parentID': $('#currentCategories option:selected').val()
                    }

                    $.ajax({
                        type: "POST",
                        url: url,
                        contentType: "application/json",
                        data: JSON.stringify(data), // serializes the form's elements.
                        beforeSend: function(xhr) {
                            xhr.setRequestHeader(
                                $('meta[name=_csrf_header]').attr('content'),
                                $('meta[name=_csrf]').attr('content')
                            )
                        },
                        success: function()
                        {
                            $('#confirm-submit').modal('hide');
                            $('#successfully-created').modal('show');
                        },
                        error: function(xhr) {
                            $('#confirm-submit').modal('hide');
                            $('#createErrorMessage').text("Error Message:\'"+ xhr.responseJSON.message +"\'")
                            $('#unsuccessfully-created').modal('show');
                        }
                    });
                }
            );
        </script>
    </div>
</div>
</html>