<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{management_panel_layout.html}">
<head>
    <title>Products</title>
</head>
<div layout:fragment="content">
    <!--  Heading  -->
    <h2>Products</h2>

    <!--  Go to create a new product page  -->
    <button class="btn btn-outline-primary" onclick="location.href='/management/product_group/create'">
        Create a New Product
    </button>

    <button class="btn btn-outline-primary" onclick="location.href='/management/category'">
        Categories
    </button>

    <button class="btn btn-outline-primary" onclick="location.href='/management/attribute_group'">
        Attributes
    </button>

    <!--  Displaying product groups in a table  -->
    <div class="card shadow" style="margin: 20px;">
        <div class="card-header py-3" style="background: rgb(248,248,252);">
            <p class="m-0 fw-bold" style="color: #36366f;">Product Info</p>
        </div>
        <div class="card-body">

            <div id="length_search_row" class="row">
                <div id="length_input" class="col-sm-12 col-md-5"></div>
                <div id="search_input" class="col-sm-12 col-md-7"></div>

            </div>

            <div class="d-flex flex-row flex-wrap table-bar">

                <div class="filter-buttons">
                    <div class="filter-label" style="font-size: 11px;"><span style="font-size: inherit;">Categories:</span></div>
                    <button class="btn btn-outline-primary btn-sm button-filter" id="expand-option" type="button">Expand</button>
                    <button class="btn btn-outline-primary btn-sm button-filter" id="collapse-option" type="button">Collapse</button>
                </div>


                <div class="filter-buttons">
                    <div class="filter-label" style="font-size: 11px;"><span style="font-size: inherit;">Is Product Published?:</span></div>
                    <div class="d-flex flex-wrap">
                        <div class="radio-buttons">
                            <input type="radio" class="btn-check" name="isPubGroup" id="pub_option1" autocomplete="off" onclick="filter(6, '')"/>
                            <label class="btn btn-outline-primary button-filter" for="pub_option1">All</label>
                        </div>
                        <div class="radio-buttons">
                            <input type="radio" class="btn-check" name="isPubGroup" id="pub_option2" autocomplete="off" onclick="filter(6, 'Yes')" checked/>
                            <label class="btn btn-outline-primary button-filter" for="pub_option2">Published</label>
                        </div>
                        <div class="radio-buttons">
                            <input type="radio" class="btn-check" name="isPubGroup" id="pub_option3" autocomplete="off" onclick="filter(6, 'No')"/>
                            <label class="btn btn-outline-primary button-filter" for="pub_option3">Non-Published</label>
                        </div>
                    </div>
                </div>

                <div class="filter-buttons">
                    <div class="filter-label" style="font-size: 11px;"><span style="font-size: inherit;">Is Big Item?:</span></div>
                    <div class="d-flex flex-wrap">
                        <div class="radio-buttons">
                            <input type="radio" class="btn-check" name="isBigGroup" id="big_option1" autocomplete="off" onclick="filter(7, '')" checked/>
                            <label class="btn btn-outline-primary button-filter" for="big_option1">All</label>
                        </div>
                        <div class="radio-buttons">
                            <input type="radio" class="btn-check" name="isBigGroup" id="big_option2" autocomplete="off" onclick="filter(7, 'Yes')"/>
                            <label class="btn btn-outline-primary button-filter" for="big_option2">Big</label>
                        </div>
                        <div class="radio-buttons">
                            <input type="radio" class="btn-check" name="isBigGroup" id="big_option3" autocomplete="off" onclick="filter(7, 'No')"/>
                            <label class="btn btn-outline-primary button-filter" for="big_option3">Small</label>
                        </div>
                    </div>
                </div>

                <div class="filter-buttons">
                    <div class="filter-label" style="font-size: 11px;"><span style="font-size: inherit;">Is Waitlistable?:</span></div>
                    <div class="d-flex flex-wrap">
                        <div class="radio-buttons">
                            <input type="radio" class="btn-check" name="isWaitGroup" id="wait_option1" autocomplete="off" onclick="filter(8, '')" checked/>
                            <label class="btn btn-outline-primary button-filter" for="wait_option1">All</label>
                        </div>
                        <div class="radio-buttons">
                            <input type="radio" class="btn-check" name="isWaitGroup" id="wait_option2" autocomplete="off" onclick="filter(8, 'Yes')"/>
                            <label class="btn btn-outline-primary button-filter" for="wait_option2">Waitlist</label>
                        </div>
                        <div class="radio-buttons">
                            <input type="radio" class="btn-check" name="isWaitGroup" id="wait_option3" autocomplete="off" onclick="filter(8, 'No')"/>
                            <label class="btn btn-outline-primary button-filter" for="wait_option3">No Waitlist</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive table mt-2" id="dataTable-1" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead>
                    <tr>
                        <th scope="col">Product ID</th>
                        <th scope="col">Parent Category</th>
                        <th scope="col">Category</th>
                        <th scope="col">Name</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Price</th>
                        <th scope="col">Published</th>
                        <th scope="col">Big Item</th>
                        <th scope="col">Waitlistable</th>
                        <th scope="col">Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="productGroup : ${productGroups}">
                        <td scope="row" th:text="${productGroup?.getID()} ?: 'N/A'"></td>
                        <td th:text="${productGroup?.getCategory()?.getParent()?.getName()} ?: ${productGroup?.getCategory().getName()}"></td>
                        <td th:text="${productGroup?.getCategory()?.getParent()?.getName()} ? ${productGroup?.getCategory().getName()} : 'No Group'"></td>
                        <td th:text="${productGroup?.getName()} ?: 'N/A'"></td>
                        <td th:text="${productGroup?.getBrand()} ?: 'N/A'"></td>
                        <td th:text="${productGroup?.getPrice() != null} ? '$' + ${#numbers.formatDecimal(productGroup?.getPrice(), 0, 'COMMA', 2, 'POINT')} : 'N/A'"></td>
                        <td th:switch="${productGroup?.getIsPublished()}">
                            <p th:case="true">Yes</p>
                            <p th:case="false">No</p>
                            <p th:case="*">N/A</p>
                        </td>
                        <td th:switch="${productGroup?.getIsBigItem()}">
                            <p th:case="true">Yes</p>
                            <p th:case="false">No</p>
                            <p th:case="*">N/A</p>
                        </td>
                        <td th:switch="${productGroup?.getIsWaitlistable()}">
                            <p th:case="true">Yes</p>
                            <p th:case="false">No</p>
                            <p th:case="*">N/A</p>
                        </td>
                        <td style="padding: 5px;">
                            <a th:href="'/management/product_group/update?id='+${productGroup?.getID()}">
                                <button class="btn btn-outline-primary button-edit" type="button" style="font-size: 15px;">
                                    <i class="far fa-edit"></i>
                                </button>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td><strong>Product ID</strong></td>
                        <td><strong>Parent Category</strong></td>
                        <td><strong>Category</strong></td>
                        <td><strong>Name</strong></td>
                        <td><strong>Brand</strong></td>
                        <td><strong>Price</strong></td>
                        <td><strong>Published</strong></td>
                        <td><strong>Big Item</strong></td>
                        <td><strong>Waitlistable</strong></td>
                        <td><strong>Edit</strong></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div th:if="${#lists.isEmpty(productGroups)}">
        No Existing Products
    </div>

    <script>

        var dataTable;
        var toCollapseAll = true;

        $(document).ready( function () {

            var collapsedGroups = {};   //used to track collapsed groups
            //Variables for DataTable setup
            var groupParent = [];       //temp variable to track group parents
            var parentID;           //temp variable to track group parent id
            var subGroupCounter = 1;    //temp variable to count subgroups
            var groupCounter = 1;       //variable to count number of groups

            //Using DataTable
            var table = $('#dataTable').DataTable( {
                order: [ [1, 'asc'], [2, 'asc'] ],
                rowGroup: {
                    dataSrc: [1 , 2],
                    startRender: function(rows, group, level) {
                        groupParent[level] = group;
                        var groupName = '';
                        for (var i = 0; i < level; i++) {
                            groupName += groupParent[i];
                            if (collapsedGroups[groupName]) {
                                return;
                            }
                        }
                        //If not parent, name subgroup "parentName-subGroupCounter"
                        if(level != 0) {
                            groupName += "-" + subGroupCounter;
                        //Otherwise name parent by group name
                        } else{
                            groupName = group;
                        }

                        //Controls whether default is collapsed or expanded
                        if (((typeof(collapsedGroups[groupName]) == 'undefined')
                            || (collapsedGroups[groupName] === null)) && level != 0) {
                            collapsedGroups[groupName] = toCollapseAll;   //whether to collapse all rows or not
                        }


                        var collapsed = collapsedGroups[groupName];
                        rows.nodes().each(function(r) {r.style.display = (collapsed ? 'none' : '');});
                        var groupModify = $('<tr/>').append('<td colspan="7">' + group + ' (' + rows.count() + ')</td>').append('<td></td>').attr('data-name', groupName).toggleClass('collapsed', collapsed);


                        //If parent level, add amount of subgroups data
                        if(level == 0){
                            parentID = groupCounter;
                            groupModify.attr('id', parentID);    //add group id
                            groupCounter++;
                        //If non-parent level, update parent's amount of subgroups data
                        } else {
                            $("#" + parentID).attr('data-subgroups', subGroupCounter);
                        }

                        //restart subgroup counter if parent, else increment
                        if(level == 0){
                            subGroupCounter = 1;
                        } else {
                            subGroupCounter++;
                        }

                        return groupModify;
                    }
                },
                columnDefs: [ {
                    targets: [ 1, 2 ],
                    visible: false
                } ],
                "lengthMenu": [ [100, 50, 25, 10, -1], [100, 50, 25, 10, "All"] ],
                language : {
                    sLengthMenu: "Show&nbsp _MENU_", // changing label for page length filter
                    search: "_INPUT_",               // changing label for search filter
                    searchPlaceholder: "Search..."   // changing search filter placeholder
                }

            } );

            /*
            Clicking on parent group, will collapse/expand all subgroups
             */
            $('#dataTable tbody').on('click', 'tr.dtrg-level-0', function() {

                    var subgroups = $(this).data('subgroups');  //number of parent's subgroups
                    var name = $(this).data('name');
                    var toCollapse;
                    for (var i = 1; i <= subgroups; i++) {
                        var subgroupName = name + '-' + i;
                        //Decides whether to collapse or expand everything based on first group
                        if (i == 1){
                            toCollapse = !collapsedGroups[subgroupName];
                        }
                        collapsedGroups[subgroupName] = toCollapse; //sets each group to opposite of first row's state
                        table.draw(false);
                    }

            });

            /*
            Clicking on sub-group (level 1) will expand/collapse that sub-group
             */
            $('#dataTable tbody').on('click', 'tr.dtrg-level-1', function() {
                var name = $(this).data('name');
                collapsedGroups[name] = !collapsedGroups[name];
                table.draw(false);
            });

            /*
            Clicking on the expand button, expands all groups
            */
            $('#expand-option').on('click', function() {
                $(".dtrg-level-1").each(function() {
                    console.log($(this).data('name'));
                    var name = $(this).data('name');
                    collapsedGroups[name] = false;
                    table.draw(false);
                });
            });

            /*
            Clicking on the collapse button, collapses all groups
            */
            $('#collapse-option').on('click', function() {
                $(".dtrg-level-1").each(function() {
                    console.log($(this).data('name'));
                    var name = $(this).data('name');
                    collapsedGroups[name] = true;
                    table.draw(false);
                });
            });



            $('#dataTable_filter').appendTo('#search_input'); // adding search filter to div
            $('#dataTable_length').appendTo('#length_input'); // adding length filter to div
            $('#dataTable_wrapper').find('div:first').remove(); //remove empty row holding previous filters

            //Sets default value of column 4 (Published) to yes
            table.columns(6).search("Yes").draw();

            dataTable = table;
        } );


        /**
         * Performs filter for specified column and input
         * (Hidden columns must also be accounted for)
         * @param col column number of table
         * @param input input for filtering
         */
        function filter(col, input){
            dataTable.columns(col).search(input).draw();
        }

    </script>
</div>
</html>