<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{management_panel_layout.html}">
<head>
    <title>Update Product</title>
</head>
<div layout:fragment="content">
    <!-- Heading -->
    <h2>Update Product</h2>

    <!-- Return to viewing locations button -->
    <button class="btn btn-outline-primary" onclick="location.href='/management/product_group/'">
        Return to Products
    </button>

    <div class="container mt-5">
        <!-- Form to create a product_group -->
        <form id="update-product-group-form" action="/management/api/product_group" method="post" class="row g-3">
            <div class="col-12">
                <label for="name" class="form-label">Product Name:</label>
                <input type="text" class="form-control" id="name" name="name" th:placeholder="${productGroup?.getName()}">
            </div>
            <div class="col-md-6">
                <label for="brand" class="form-label">Brand:</label>
                <input type="text" class="form-control" id="brand" name="brand" th:placeholder="${productGroup?.getBrand()}">
            </div>
            <div class="col-md-6">
                <label for="price" class="form-label">Price:</label>
                <input type="number" step=".01" class="form-control" id="price" name="price" th:value="${productGroup?.getPrice()}">
            </div>
            <div class="col-md-4">
                <label for="is-published" class="form-check-label">Do you want this product to be published?</label>
                <input type="checkbox" class="form-check-input" id="is-published" name="is-published" th:checked="${productGroup?.getIsPublished()}">
                <div class="form-text">(A published product is one that shows up on the marketplace)</div>
            </div>
            <div class="col-md-4">
                <label for="is-big-item" class="form-check-label">Is this product a "Big Item"?</label>
                <input type="checkbox" class="form-check-input" id="is-big-item" name="is-big-item" th:checked="${productGroup?.getIsBigItem()}">
                <div class="form-text">(A "Big Item" is one that can only be ordered once per year)</div>
            </div>
            <div class="col-md-4">
                <label for="is-waitlistable" class="form-check-label">Is this product "waitlistable"?</label>
                <input type="checkbox" class="form-check-input" id="is-waitlistable" name="is-waitlistable" th:checked="${productGroup?.getIsWaitlistable()}">
                <div class="form-text">(A "Waitlistable Item" is one that can recieve waitlist orders when the stock is low)</div>
            </div>
            <div class="col-12">
                <label for="description">Product Description:</label>
                <textarea class="form-control" id="description" name="description" rows="3" th:placeholder="${productGroup?.getDescription()}"></textarea>
            </div>
            <div class="col-md-6">
                <label for="categories" class="form-label">Category:</label>
                <select name="categories" id="categories" class="form-select">

                </select>
                <div class="form-text" th:text="${productGroup?.getCategory()?.getName()}"></div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead class="table-light">
                    <th scope="col">Image</th>
                    <th scope="col">Low Stock Threshold</th>
                    <th scope="col">Attributes</th>
                    </thead>
                    <tbody>
                    <tr th:each="product : ${productGroup?.getProducts()}">
                        <td th:text="${product?.getImagePath()} ?: 'N/A'"></td>
                        <td th:text="${product?.getLowStockLimit()} ?: 'N/A'"></td>
                        <td th:each="attribute : ${product?.getAttributes()}">
                            <p th:text="${attribute.getValue()}"></p>
                        </td>
<!--                        <td>-->
<!--                            <a class="btn btn-primary rounded-pill text-decoration-none" th:href="'/management/employee/update?id='+${employee?.getID()}">EDIT</a>-->
<!--                        </td>-->
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${#lists.isEmpty(productGroup?.getProducts())}">
                No Existing Products
            </div>
<!--            <div class="col-md-6">-->
<!--                <input class="btn btn-outline-primary" id="create-category-form-modal-button"-->
<!--                       type="button" value="Create Category" th:attr="onclick=|fill_attributes()|">-->
<!--            </div>-->
<!--            <div class="col-md-12">-->
<!--                <input class="btn btn-outline-primary" id="submit-create-product-group" type="button"-->
<!--                       value="Submit" data-bs-toggle="modal" data-bs-target="#confirm-product-group-create-modal">-->
<!--            </div>-->
<!--            <p class="text-center" id="if-no-categories" style="display: none; color: red;">-->
<!--                There are no categories in the database.-->
<!--                Please make one before creating a product-->
<!--                as all products MUST be assigned to a category.-->
<!--            </p>-->

            <!-- Show the user a popup modal allowing them to confirm the info they are trying to submit -->
            <div class="modal fade" id="confirm-product-group-create-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Confirm Submit</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to submit the following details?
                            <table class="table">
                                <tr>
                                    <th>Name</th>
                                    <td id="display-new-name"></td>
                                </tr>
                                <tr>
                                    <th>Brand</th>
                                    <td id="display-new-brand"></td>
                                </tr>
                                <tr>
                                    <th>Price</th>
                                    <td id="display-new-price"></td>
                                </tr>
                                <tr>
                                    <th>Is Published</th>
                                    <td id="display-new-is-published"></td>
                                </tr>
                                <tr>
                                    <th>Is Big Item</th>
                                    <td id="display-new-is-big-item"></td>
                                </tr>
                                <tr>
                                    <th>Is Waitlistable</th>
                                    <td id="display-new-is-waitlisted"></td>
                                </tr>
                                <tr>
                                    <th>Description</th>
                                    <td id="display-new-description"></td>
                                </tr>
                                <tr>
                                    <th>Category</th>
                                    <td id="display-new-category"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-default" data-bs-dismiss="modal">Cancel</button>
                            <input class="btn btn-outline-primary" type="submit" value="Submit">
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- CREATE PRODUCT_GROUP SUCCESS/FAIL POPUP MODALS -->
        <div class="modal fade" id="create-product-group-success-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Complete</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <span style="font-size: 35px;font-weight: bold;">Successfully Created</span><br>
                        <i class="fa fa-check-circle-o rubberBand animated" style="font-size: 100px;color: rgb(122, 214, 94);height: 41px;"></i>
                    </div>
                    <div class="modal-footer" id="success-footer">
                        <a class="btn btn-outline-default" href="/management/product_group">Return to Products</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="create-product-group-fail-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Failed to Create</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <span style="font-size: 35px;font-weight: bold;">Creation Failed</span><br>
                        <i class="fa fa-close rubberBand animated" style="font-size: 100px;color: rgb(242, 15, 0);height: 41px;"></i><br>
                        <p class="text-start" id="create-product-group-fail-message"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-default" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- CREATE CATEGORY SUCCESS/FAIL POPUP MODALS -->
        <div class="modal fade" id="create-category-form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Create Category Form</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <form id="create-category-form" action="/management/api/category" method="post">
                            <div class="col-md-6">
                                <label for="category-name" class="form-label">Name:</label>
                                <input type="text" id="category-name" name="category-name" class="form-control" required>
                            </div>
                            <div class="col-md-6">
                                <label for="current-categories" class="form-label">Parent Category:</label>
                                <select name="current-categories" id="current-categories" class="form-select" required>
                                    <option value=null selected>None</option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <input class="btn btn-outline-primary" id="submit-create-category" type="button" value="Submit" data-bs-toggle="modal" data-bs-target="#confirm-category-submit">
                            </div>

                            <!-- Show the user a popup modal allowing them to confirm the info they are trying to submit -->
                            <div class="modal fade" id="confirm-category-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Confirm Submit</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to submit the following details?
                                            <table class="table">
                                                <tr>
                                                    <th>Name</th>
                                                    <td id="display-new-category-name"></td>
                                                </tr>
                                                <tr>
                                                    <th>Parent Category:</th>
                                                    <td id="display-new-parent-category"></td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-default" data-bs-dismiss="modal">Cancel</button>
                                            <input class="btn btn-outline-primary" type="submit" value="Submit">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--          <div class="modal-footer">-->
                    <!--            <a class="btn btn-outline-success" data-bs-dismiss="modal">Close</a>-->
                    <!--          </div>-->
                </div>
            </div>
        </div>
        <div class="modal fade" id="create-category-success-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Complete</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <span style="font-size: 35px;font-weight: bold;">Successfully Created</span><br>
                        <i class="fa fa-check-circle-o rubberBand animated" style="font-size: 100px;color: rgb(122, 214, 94);height: 41px;"></i>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-outline-success" data-bs-dismiss="modal">Close</a>
                    </div>
                </div>
            </div>
        </div>

        <!--  Upon page load, an AJAX get request is done to get all of the the current categories
              in the database. If that request fails, display this popup modal-->
        <div class="modal fade" id="get-stored-category-fail-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Failed to Get Categories</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <span style="font-size: 35px;font-weight: bold;">Data Retrieval Failed</span><br>
                        <i class="fa fa-close rubberBand animated" style="font-size: 100px;color: rgb(242, 15, 0);height: 41px;"></i><br>
                        <p class="text-start" id="get-stored-category-fail-message"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-default" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            /**
             * Whenever a dropdown option in any select tag is picked,
             * this function marks that option with the attribute "selected".
             * Additionally, any other options have their "selected" attribute removed.
             */
            $(document).on("change","select",function(){
                $("option[value=" + this.value + "]", this)
                    .attr("selected", true).siblings()
                    .removeAttr("selected")
            });

            /**
             * Upon page load, get all the current categories from the database
             * and load them into the empty <select> tag in the html.
             */
            $(document).ready(function(){
                fill_current_attributes();
            });

            /**
             * Gets all current attributes from the database. If:
             * (1) - There are no categories, dont let them submit at all
             * (2) - Load all the existing categories into the <select> tags
             */
            function fill_current_attributes(){
                $.ajax({
                    type: "GET",
                    url: '/management/api/category/',
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader(
                            $('meta[name=_csrf_header]').attr('content'),
                            $('meta[name=_csrf]').attr('content')
                        )
                    },
                    success: function(data)
                    {
                        if(jQuery.isEmptyObject(data)){
                            $("#submit-create-product-group").prop("disabled", true);
                            $('#if-no-categories').css("display", "");
                        }
                        else{
                            $('#categories').empty();
                            $('#current-categories').empty();
                            //Option to be a part of no category
                            $('#current-categories').append($('<option>', {
                                selected: true,
                                value: "null",
                                text : "None"
                            }));
                            $.each(data, function (i, category) {
                                $('#categories').append($('<option>', {
                                    value: category['ID'],
                                    text : category['name']
                                }));
                                $('#current-categories').append($('<option>', {
                                    value: category['ID'],
                                    text : category['name']
                                }));
                            });
                        }
                    },
                    error: function(xhr) {
                        $('#get-stored-category-fail-message').text("Error Message:\'"+ xhr.responseJSON.message +"\'")
                        $('#get-stored-category-fail-modal').modal('show');
                    }
                });
            }


            /**
             * Note: The function may show as unused, however it IS being used.
             *       It shows as unused since the function call is inside the following
             *       Thymeleaf attribute which is from product_group_create.html:
             *       - th:attr="onclick=|fill_attributes()|"
             */
            function fill_attributes(){
                fill_current_attributes();
                $('#create-category-form-modal').modal('show');
            }

            function display_new_product_group_details(){
                $('#display-new-name').text($('#name').val());
                $('#display-new-brand').text($('#brand').val());
                $('#display-new-price').text("$" + $('#price').val());
                if ($('#is-published').is(":checked")){
                    $('#display-new-is-published').text("Yes");
                }
                else{
                    $('#display-new-is-published').text("No");
                }
                if ($('#is-big-item').is(":checked")){
                    $('#display-new-is-big-item').text("Yes");
                }
                else{
                    $('#display-new-is-big-item').text("No");
                }
                if ($('#is-waitlistable').is(":checked")){
                    $('#display-new-is-waitlisted').text("Yes");
                }
                else{
                    $('#display-new-is-waitlisted').text("No");
                }
                $('#display-new-description').text($('#description').val());
                $('#display-new-category').text($('#categories option:selected').text());
            }

            $('#submit-create-product-group').click(display_new_product_group_details);

            function display_new_category_details(){
                $('#display-new-category-name').text($('#category-name').val());
                $('#display-new-parent-category').text($('#current-categories option:selected').text());
            }
            $('#submit-create-category').click(display_new_category_details);

            $('#create-category-form').submit(
                function (e) {
                    e.preventDefault();

                    const form = $(this);
                    const url = form.attr('action');
                    const data = {
                        'name': $('#category-name').val(),
                        'parentID': $('#current-categories option:selected').val()
                    }

                    $.ajax({
                        type: "POST",
                        url: url,
                        contentType: "application/json",
                        data: JSON.stringify(data), // serializes the form's elements.
                        beforeSend: function(xhr) {
                            xhr.setRequestHeader(
                                $('meta[name=_csrf_header]').attr('content'),
                                $('meta[name=_csrf]').attr('content')
                            )
                        },
                        success: function(data)
                        {
                            $('#categories').append($('<option>', {
                                value: data['ID'],
                                text : data['name']
                            }));
                            $('#create-category-form-modal').modal('hide');
                            $('#confirm-category-submit').modal('hide');
                            $('#create-category-success-modal').modal('show');
                        },
                        error: function(xhr) {
                            $('#confirm-category-submit').modal('hide');
                            $('#create-product-group-fail-message').text("Error Message:\'"+ xhr.responseJSON.message +"\'")
                            $('#create-product-group-fail-modal').modal('show');
                        }
                    });
                }
            );

            $('#update-product-group-form').submit(
                function (e) {
                    e.preventDefault();

                    const form = $(this);
                    const url = form.attr('action');
                    const data = {
                        'name': $('#name').val(),
                        'brand': $('#brand').val(),
                        'price': parseFloat($("#price").val()).toFixed(2),
                        'isPublished': $('#is-published').is(':checked'),
                        'isBigItem': $('#is-big-item').is(':checked'),
                        'isWaitlistable': $('#is-waitlistable').is(':checked'),
                        'description': $('#description').val(),
                        'categoryID': $('#categories option:selected').val()
                    }

                    $.ajax({
                        type: "POST",
                        url: url,
                        contentType: "application/json",
                        data: JSON.stringify(data), // serializes the form's elements.
                        beforeSend: function(xhr) {
                            xhr.setRequestHeader(
                                $('meta[name=_csrf_header]').attr('content'),
                                $('meta[name=_csrf]').attr('content')
                            )
                        },
                        success: function(data)
                        {
                            $('#confirm-product-group-create-modal').modal('hide');
                            $('#success-footer').append("<a class=\"btn btn-outline-primary\" href=\"/management/product/create?id="+data['ID'].toString()+"\">Create variations? of product</a>")
                            $('#create-product-group-success-modal').modal('show');
                        },
                        error: function(xhr) {
                            $('#confirm-product-group-create-modal').modal('hide');
                            $('#create-product-group-fail-message').text("Error Message:\'"+ xhr.responseJSON.message +"\'")
                            $('#create-product-group-fail-modal').modal('show');
                        }
                    });
                }
            );
        </script>
    </div>
</div>
</html>