<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Stylesheets -->
  <link rel="stylesheet" th:href="@{/stylesheets/bootstrap/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" th:href="@{/stylesheets/fonts/fontawesome5-overrides.min.css}">
  <link rel="stylesheet" th:href="@{/stylesheets/bootstrap/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/stylesheets/tables.css}">
  <link rel="stylesheet" th:href="@{/stylesheets/management.css}">
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
          integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
          crossorigin="anonymous"></script>

  <!-- Datatables -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.11.3/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/fc-4.0.1/fh-3.2.0/r-2.2.9/rg-1.1.4/sc-2.0.5/sb-1.3.0/sp-1.4.0/datatables.min.css"/>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.11.3/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/fc-4.0.1/fh-3.2.0/r-2.2.9/rg-1.1.4/sc-2.0.5/sb-1.3.0/sp-1.4.0/datatables.min.js"></script>
  <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Panel</title>
</head>
<body id="page-top">
  <div id="wrapper">
    <div th:replace="~{fragments/management/sidebar :: sidebar}"></div>
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        <nav th:insert="~{fragments/management/header :: header}"></nav>
        <!-- START CONTENT INSERT (Everything else in the <body> is a static insert-->
        <div layout:fragment="content" class="container-fluid content-insert"></div>
        <!-- END CONTENT INSERT -->
      </div>
      <footer class="bg-white sticky-footer" th:insert="~{fragments/management/footer :: footer}"></footer>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
  </div>
  <!-- Load Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Load React. -->
  <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
  <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
  <script th:src="@{/javascript/management/management_dashboard.js}"></script>
</body>
</html>